.input-group {
    margin: 20px 0;
}

td:first-of-type {
    width: 250px;
}

td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

td:first-of-type {
    height: 200px;
    width: 250px;
}

svg {
    margin: 0;
    padding: 0;
    height: 90%;
}

.sparkContainer {
    margin: 0;
    padding: 0;
    height: 150px;
}

.dataUnit {
    height: 10%;
}
